@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  /* track */
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  
  /* handle */
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* handle on hover */
  ::-webkit-scrollbar-track:hover {
    background: #555;
  }
  
  
  body{
    overflow-x: hidden;
  }