@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  /* track */
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  
  /* handle */
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* handle on hover */
  ::-webkit-scrollbar-track:hover {
    background: #555;
  }
  
  
  body{
    overflow-x: hidden;
  }

  .custom-file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  
  .custom-file-label {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color:  transparent;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    border: 1px solid  #ff2883;

  }
  
  .star {
    font-size: 24px;
    color: gray;
    margin-right: 5px;
  }
  
  .full {
    color: #ff2883;;
  }
  
  .half {
    position: relative;
    color: #ff2883;;
    margin-right: 0;
  }
  
  .half::before {
    /* content: '\00bd'; */
    position: absolute;
    left: -9px;
    top: 0;
    color: gray;
  }
  
  .empty {
    color: gray;
  }
  